ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0 0 1em;
}

b,
strong {
	font-weight: 700;
}

a {
	outline: 0 none;
	text-decoration: underline;
	transition: all 0.3s;
}

label {
	cursor: pointer;
}

img {
	max-width: 100%;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	th {
		font-weight: inherit;
		font-family: inherit;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font;
	color: inherit;
}

h1 {
	font-weight: 600;
	font-size: 42px;
	line-height: 1.12;
	margin: 0 0 21px;
	@media screen and (max-width: 768px) {
		font-size: 30px;
		margin: 0 0 10px;
	}
}

h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.17;
	margin: 0 0 47px;
	@media screen and (max-width: 768px) {
		font-size: 26px;
		margin: 0 0 20px;
	}
}

h3 {
	font-size: 32px;
	line-height: 1.2;
	margin: 0 0 9px;
	@media screen and (max-width: 768px) {
		font-size: 22px;
		margin: 0 0 9px;
	}
}

h4 {
	font-size: 28px;
	line-height: 1.25;
	margin: 0 0 12px;
}

h5, .h5 {
	font-size: 24px;
	line-height: 1.33;
	margin: 0 0 9px;
}

h6, .h6 {
	font-size: 22px;
	line-height: 1.4;
	margin: 0 0 12px;
}