$desktop-xl: 1600px;
$desktop-l: 1350px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$black: #3F4E4F;

$brown: #A27B5C;
$blackOne: #000;

$font: "Montserrat", Arial, sans-serif;