.hero {
  background: url("../../img/background-fon_1.png") center  center no-repeat;
  background-size: cover;
  padding: 205px 0 176px;
  color: $white;
  @media screen and (max-width: 768px) {
    padding: 120px 0 100px;
  }

  &-content {
    max-width: 559px;

    h1 {
      text-transform: uppercase;
    }
  }

  &-item {
      margin-bottom: 120px;
      line-height: 2;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
      line-height: 1.4;
    }
  }

  &-btn {
    @media screen and (max-width: 768px) {
      width: 300px;
      padding: 15px;
    }
  }
}